<template>
  <body class="bg-gray-100 antialiased">
    <main class="main-container">
      <div class="grid gap-5 lg:grid-cols-3">
        <!-- Start "Left Side" -->
        <div class="space-y-5">
          <!-- Start "User Block" -->
          <div class="shadow rounded-xl overflow-hidden">
            <div class="h-32 bg-cover" id="cover"></div>
            <div class="pt-14 p-7 bg-white relative">
              <span class="status-badge bg-green-400">Open</span>
              <a href="#">
                <img src="~/assets/images/avatar.jpg" alt="Avatar" class="user-photo">
              </a>
              <div class="text-lg font-semibold mb-1.5">Nathan GUIRADO-PATRICO</div>
              <div class="text-sm text-gray-400 mb-7">Développeur & Chef de projet junior</div>
              <!-- TODO : Add download CV feature -->
              <!-- <div class="flex group">
                <button class="download-btn">Télécharger mon CV</button>
                <button class="download-btn-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.8" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path></svg>
                </button>
              </div>-->
            </div>
          </div>
          <!-- End "User Block" -->

          <!-- Start "Info Block" -->
          <div class="p-7 block-section">
            <h2 class="block-title">Information</h2>
            <div class="space-y-4">
              <div class="flex justify-between">
                <div class="text-gray-400">Age</div>
                <div class="font-medium text-right text-gray-600">25</div>
              </div>
              <div class="flex justify-between">
                <div class="text-gray-400">Ville</div>
                <div class="font-medium text-right text-gray-600">Grenoble</div>
              </div>
              <div class="flex justify-between">
                <div class="text-gray-400">Experience</div>
                <div class="font-medium text-right text-gray-600">3+ ans</div>
              </div>
            </div>
          </div>
          <!-- End "Info Block" -->

          <!-- Start "Skills Block" -->
          <div class="p-7 block-section flow-root">
            <h2 class="block-title">Compétences techniques</h2>
            <div class="-m-2 flex flex-wrap">
              <span class="skill-tag">PHP</span>
              <span class="skill-tag">Symfony</span>
              <span class="skill-tag">Vue</span>
              <span class="skill-tag">SQL</span>
              <span class="skill-tag">Gestion de projet</span>
              <span class="skill-tag">PHPUnit</span>
            </div>
          </div>
          <!-- End "Skills Block" -->
        </div>
        <!-- End "Left Side" -->

        <!-- Start "Right Side" -->
        <div class="space-y-5 lg:col-span-2">
          <!-- Start "About Me Block" -->
          <div class="p-7 pb-0 block-section">
            <h2 class="block-title">À propos</h2>
            <p class="text-gray-600 mb-5">
              Un jeune développeur grenoblois, passionné par son métier, cherche à aller toujours plus loin, et toujours prêt à travailler sur de nouveaux projets.
            </p>

            <div class="flex flex-col space-y-4">
              <a href="mailto:nathan.guirado-patrico@outlook.fr" class="mail-link social-link-hover">
                <i class="bx bx-at text-xl"></i>
                <span>nathan.guirado-patrico@outlook.fr</span>
              </a>
              <a href="tel:+33668683161" class="mail-link social-link-hover">
                <i class="bx bx-phone text-xl"></i>
                <span>(+33) 06.68.68.31.61</span>
              </a>
              <ul class="flex space-x-5">
                <li>
                  <NuxtLink class="social-link-hover" to="https://www.linkedin.com/in/nathan-guirado-patrico-065089328/" target="_blank">
                    <i class="bx bxl-linkedin text-2xl"></i>
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink class="social-link-hover" to="https://github.com/SmashScharrer" target="_blank">
                    <i class="bx bxl-github text-2xl"></i>
                  </NuxtLink>
                </li>
                <li>
                  <NuxtLink class="social-link-hover" to="https://gitlab.com/SmashScharrer-Dev" target="_blank">
                    <i class="bx bxl-gitlab text-2xl"></i>
                  </NuxtLink>
                </li>
              </ul>
            </div>
            <div class="border-t border-gray-200 my-5"></div>
            <ul class="flex space-x-8 font-medium">
              <li>
                <a href="#" class="menu-link-active menu-link-hover">Résumé</a>
              </li>
            </ul>
          </div>
          <!-- End "About Me Block" -->

          <!-- Start Experience Block -->
          <div class="p-7 block-section">
            <h2 class="block-title">Experiences</h2>
            <div class="mb-5 item-section">
              <div class="company-logo">
                <img src="https://www.sydev.com/wp-content/uploads/2022/05/SYDEV-logo-couleurs.png" alt="Entreprise">
              </div>
              <div class="w-full space-y-5">
                <div class="item-header">
                  <div class="space-y-1.5">
                    <div class="font-medium">Développeur web Symfony</div>
                    <div class="flex space-x-5">
                      <div class="item-header-info">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                        </svg>
                        <span>Sydev</span>
                      </div>
                      <div class="item-header-info">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <span>Echirolles - France</span>
                      </div>
                    </div>
                  </div>
                  <div class="space-y-2 sm:text-right">
                    <div class="job-item-badge">CDD - 35H</div>
                    <div class="item-header-info">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                      </svg>
                      <span>Septembre 2023 – Février 2024</span>
                    </div>
                  </div>
                </div>
                <p class="text-gray-600" style="text-align: justify;">
                  • Participer au projet de migration du framework utilisé pour développer le site (<em><b>Symfony 3.4</b></em> => <em><b>Symfony 6.4</b></em>).
                </p>
                <p class="text-gray-600" style="text-align: justify;">
                  • Développer de nouvelles fonctionnalitées / Corriger certaines anomalies remontées par un chef de projet et/ou un client.
                </p>
                <p class="text-gray-600" style="text-align: justify;">
                  • Ecrire des tests unitaires à chaque nouveau développement (<em><b>PHPUnit</b></em>, <em><b>Behat Panther</b></em> & <em><b>Cypress</b></em>). 
                </p>
                <div class="border-b border-gray-200"></div>
              </div>
            </div>

            <div class="mb-5 item-section">
              <div class="company-logo" style="background-color: #1DA1F2;">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/LogoAllibertTrekking2010.jpg/280px-LogoAllibertTrekking2010.jpg" alt="Entreprise">
              </div>
              <div class="w-full space-y-5">
                <div class="item-header">
                  <div class="space-y-1.5">
                    <div class="font-medium">Développeur web Symfony</div>
                    <div class="flex space-x-5">
                      <div class="item-header-info">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                        </svg>
                        <span>Allibert Trekking</span>
                      </div>
                      <div class="item-header-info">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <span>Grenoble - France</span>
                      </div>
                    </div>
                  </div>
                  <div class="space-y-2 sm:text-right">
                    <div class="job-item-badge">CDD - 35H</div>
                    <div class="item-header-info">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                      </svg>
                      <span>Février 2023 – Juillet 2023</span>
                    </div>
                  </div>
                </div>
                <p class="text-gray-600" style="text-align: justify;">
                  • Maintenir le site de l'entreprise <b>Allibert</b> à jour (développer des nouvelles fonctionnalitées, corriger les problèmes éventuels).
                </p>
                <p class="text-gray-600" style="text-align: justify;">
                  • Participer au projet de migration du framework utilisé pour développer le site (<em><b>Symfony 3.4</b></em> => <em><b>Symfony 6.3</b></em>).
                </p>
                <div class="border-b border-gray-200"></div>
              </div>
            </div>

            <div class="mb-5 item-section">
              <div class="company-logo" style="background-color: #1DA1F2;">
                <img src="~/assets/images/entreprise.png" alt="Entreprise">
              </div>
              <div class="w-full space-y-5">
                <div class="item-header">
                  <div class="space-y-1.5">
                    <div class="font-medium">Chef de projet</div>
                    <div class="flex space-x-5">
                      <div class="item-header-info">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                        </svg>
                        <span>Sidas</span>
                      </div>
                      <div class="item-header-info">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <span>Voiron - France</span>
                      </div>
                    </div>
                  </div>
                  <div class="space-y-2 sm:text-right">
                    <div class="job-item-badge">Alternance - 35H</div>
                    <div class="item-header-info">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                      </svg>
                      <span>Octobre 2021 – Janvier 2023</span>
                    </div>
                  </div>
                </div>
                <p class="text-gray-600" style="text-align: justify;">
                  • Auditer un système d'information, pour en déduire les points forts, ainsi que les faiblesses potentielles/critiques (analyse de l'existant, questionnaire de satisfaction, KPI).
                </p>
                <p class="text-gray-600" style="text-align: justify;">
                  • Proposer un plan d'action, pour améliorer le système d'information d'une entreprise face aux différentes menaces informatiques, avec l'aide du document "<em><b>Guide d'hygiène Informatique</b></em>", de l'ANSSI.
                </p>
                <p class="text-gray-600" style="text-align: justify;">
                  • Calculer le coût prévisionnel d'un plan d'action (temps et coût financier prévisionnel/estimé) pour réaliser le projet.
                </p>
                <p class="text-gray-600" style="text-align: justify;">
                  • Former et accompagner les salariés au changement (notamment via l'utilisation d'un gestionnaire de mots de passe, suite à la mise en place d'une nouvelle PSSI).
                </p>
                <div class="border-b border-gray-200"></div>
              </div>
            </div>

            <div class="mb-5 item-section">
              <div class="company-logo" style="background-color: #0061FF;">
                <img src="~/assets/images/entreprise.png" alt="Entreprise">
              </div>
              <div class="w-full space-y-5">
                <div class="item-header">
                  <div class="space-y-1.5">
                    <div class="font-medium">Développeur web PHP</div>
                    <div class="flex space-x-5">
                      <div class="item-header-info">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                        </svg>
                        <span>Sidas</span>
                      </div>
                      <div class="item-header-info">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <span>Voiron - France</span>
                      </div>
                    </div>
                  </div>
                  <div class="space-y-2 sm:text-right">
                    <div class="job-item-badge">Alternance - 35H</div>
                    <div class="item-header-info">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                      </svg>
                      <span>Octobre 2019 – Septembre 2021</span>
                    </div>
                  </div>
                </div>
                <p class="text-gray-600" style="text-align: justify;">
                  • Contribuer au maintien et à l'amélioration continue d'un site d'après-vente.
                </p>
                <p class="text-gray-600" style="text-align: justify;">
                  • Développer de nouvelles fonctionnalités côté frontend, avec le framework Javascript : <em><b>VueJS</b></em>, et côté backend avec le framework PHP : <em><b>Symfony</b></em>.
                </p>
                <p class="text-gray-600" style="text-align: justify;">
                  • Contribuer à l'intégration de processus et procédures de développement/déploiement en continue (Git, GitHub, Docker).
                </p>
              </div>
            </div>
          </div>
          <!-- End "Experience Block" -->

          <!-- Start "Education Block" -->
          <div class="p-7 block-section">
            <h2 class="block-title">Education</h2>
            <div class="mb-5 item-section">
              <div class="flex-shrink-0 w-12 h-12 rounded-xl bg-cover">
                <img src="~/assets/images/education.png" alt="Ecole">
              </div>
              <div class="w-full space-y-5">
                <div class="item-header items-end">
                  <div class="space-y-1.5">
                    <div class="font-medium">Titre RNCP Niveau 7 - Master MAALSI</div>
                    <div class="flex space-x-5">
                      <div class="item-header-info">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
                          <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"></path>
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"></path>
                        </svg>
                        <span>CESI</span>
                      </div>
                      <div class="item-header-info">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <span>Meylan - France</span>
                      </div>
                    </div>
                  </div>
                  <div class="space-y-1.5 sm:text-right">
                    <div class="item-header-info">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                      </svg>
                      <span>Septembre 2021 – Janvier 2023</span>
                    </div>
                  </div>
                </div>
                <div class="item-header items-end">
                  <div class="space-y-1.5">
                    <div class="flex space-x-5">
                      <div class="item-header-info">
                        <span style="text-align: justify;">Diplôme "<b>Manager en Architecture et Applications Logicielles des Systèmes d’Information</b>" : Formation approfondie sur le management et la gestion d'un système d'information, en intégrant les enjeux et la stratégie de l'entreprise.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="border-b border-gray-200"></div>
              </div>
            </div>
            
            <div class="mb-5 item-section">
              <div class="flex-shrink-0 w-12 h-12 rounded-xl bg-cover">
                <img src="~/assets/images/education.png" alt="Ecole">
              </div>
              <div class="w-full space-y-5">
                <div class="item-header items-end">
                  <div class="space-y-1.5">
                    <div class="font-medium">Titre RNCP Niveau 6 - Licence RIL</div>
                    <div class="flex space-x-5">
                      <div class="item-header-info">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
                          <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"></path>
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"></path>
                        </svg>
                        <span>CESI</span>
                      </div>
                      <div class="item-header-info">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <span>Meylan - France</span>
                      </div>
                    </div>
                  </div>
                  <div class="space-y-1.5 sm:text-right">
                    <div class="item-header-info">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                      </svg>
                      <span>Septembre 2019 – Septembre 2021</span>
                    </div>
                  </div>
                </div>
                <div class="item-header items-end">
                  <div class="space-y-1.5">
                    <div class="flex space-x-5">
                      <div class="item-header-info">
                        <span style="text-align: justify;">Diplôme "<b>Responsable en Ingénierie des Logiciels</b>" : Formation approfondie sur l'élaboration, la gestion et le pilotage d'un projet d'ingénierie logicielle.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="border-b border-gray-200"></div>
              </div>
            </div>

            <div class="item-section">
              <div class="flex-shrink-0 w-12 h-12 rounded-xl bg-cover">
                <img src="https://www.grenobleurl.fr/annuaire-isere/wp-content/uploads/2018/01/lyceearistidebergesseyssinet.jpg" alt="Ecole">
              </div>
              <div class="w-full space-y-5">
                <div class="item-header items-end">
                  <div class="space-y-1.5">
                    <div class="font-medium">Brevet de technicien supérieur - Services informatiques aux organisations</div>
                    <div class="flex space-x-5">
                      <div class="item-header-info">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path d="M12 14l9-5-9-5-9 5 9 5z"></path>
                          <path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"></path>
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"></path>
                        </svg>
                        <span>Aristide Bergès</span>
                      </div>
                      <div class="item-header-info">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <span>Seyssinet-Pariset - France</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-header items-end">
                  <div class="space-y-1.5 sm:text-right">
                    <div class="item-header-info">
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                      </svg>
                      <span>Septembre 2017 – Septembre 2019</span>
                    </div>
                  </div>
                </div>
                <div class="item-header items-end">
                  <div class="space-y-1.5">
                    <div class="flex space-x-5">
                      <div class="item-header-info">
                        <span style="text-align: justify;">Diplôme "<b>BTS Services informatiques aux organisations</b>" : Initiation à la programmation, au développement d'applications web et à la gestion de base de données.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End "Education Block" -->
        </div>
        <!-- End "Right Side" -->
      </div>
    </main>
  </body>
</template>

<script>
import "boxicons/css/boxicons.css";
export default {
  name: "home"
}
</script>

<style>
#cover{
  background-image: url("assets/images/cover.jpg");
}
</style>
